@font-face {
    font-family: 'source-pro';
    src: url(./source-sans-pro/SourceSansPro-Regular.otf);
}
:root{
    --text-color:#fff;
    --primary-color:#FF6565;
    --scondary-color:#071629;
    --fs-lg:4.6rem;
    --fs-md:3.2rem;
    --fs-sm:1.6rem;
}
*::after,
*::before,
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'source-pro';
    font-weight: 400;
}
html{
    font-size: 62.5%;
}
a{
    text-decoration: none;
    color: var(--text-color);
    display:inline-block;
}
img{
    display: block;
}
ul{
    list-style: none;
}
