@font-face {
    font-family: 'source-pro';
    src: url(./source-sans-pro/SourceSansPro-Regular.otf);
}
:root{
    --text-color:#fff;
    --primary-color:#FF6565;
    --scondary-color:#071629;
    --fs-lg:4.6rem;
    --fs-md:3.2rem;
    --fs-sm:1.6rem;
    --fs-x-sm:1.4rem;
}
*::after,
*::before,
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "source-pro";
    font-weight: 400;
    color: var(--scondary-color);
}
html{
    font-size: 62.5%;
}
a{
    text-decoration: none;
    color: var(--text-color);
    display:inline-block;
}
img{
    display: block;
}
ul{
    list-style: none;
}
button{
    display: block;
    border: none;
}
section{
    padding: 8rem 0;
}
/* Utilties */
.container-lg{
    max-width: 120rem;
    width: 95%;
    margin: auto;

}
.container-sm{
    max-width: 75rem;
    width: 95%;
    margin: auto;  
}

.btn{
transition:opacity .3s linear;
cursor: pointer;
padding: 0.8rem 2.5rem;
border-radius: 8px;
font-size: 1.6rem;
text-align: center;
text-transform: uppercase;
}
.btn-cta{
    background-color: var(--primary-color);
    color: var(--text-color);
}
.section-header{
    font-size: var(--fs-sm);
    line-height: 1.5;
    text-align: center;
    max-width: 60%;
    margin:0 auto 6rem auto;
}

.section-header h3{
    font-weight: 700;
    font-size: var(--fs-md);
    margin-bottom: 4rem;
}
.grid-row{
    display: grid;
    gap: 5rem;
    align-items: center;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
}
.card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1.5rem;
}
.card h4{
    font-weight: 700;
    font-size: var(--fs-sm);

}
.card-text{
    font-size: var(--fs-x-sm);
    text-align: center;
    width:70%;
    margin: 0 auto 0 auto;
}
/* end of utilities */
.header{
    min-height: 100vh;
    width: 100%;
    background:url(images/background_1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.navbar{
    padding: 2.5rem 0;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.logo-humberg-container{
    display: flex;
    align-items: center;
}
.humberg{
    display: none;
    justify-content: center;
    gap: 5px;
    width: 35px;
    height: 35px;
    flex-direction: column;
    cursor: pointer;
    transition: all 0.3s ease;
}
.humberg .hr-line{
    height: 4px;
    width: 100%;
    background-color: var(--text-color);
    border-radius: 2px;
    transition: transform 0.3s ease, opacity 0.3s ease, width 0.3s ease;
}
.humberg .hr-line.middle{
    width: 50%;
}
.humberg.active .hr-line.top{
    transform: translateY(10px) rotate(-45deg);
}
.humberg.humberg.active .hr-line.middle{
    opacity: 0;
}
.humberg.active .hr-line.bottom{
    transform: translateY(-9px) rotate(45deg);
}
.navbar__list{
    display: flex;
    gap: 4rem;
    align-items: center;
}
.navbar__link{
    font-size: var(--fs-sm);
    transition:color .3s linear;

}
.navbar__link.active,
.navbar__link:hover{
    color: var(--primary-color);
    opacity: 0.9;
}
/* === END OF NAVIGATION  */
.hero-section{
    margin-top: 20%;
    text-align: center;
}
.hero-intro{
    margin-bottom: 1.6rem;
}
.hero-intro h1{
    font-size: var(--fs-md);
    color: var(--text-color);
    margin-bottom: 1rem;
    font-weight: bold;
}
.hero-intro p{
    font-size: var(--fs-sm);
    color: var(--text-color);
    margin-bottom: 2rem;
}

.hero-intro .btn{
    margin: 3.5rem 0;
}
.hero-text{
    font-size: var(--fs-sm);
    color: var(--text-color);
    line-height: 1.5;
    margin-bottom: 2rem;
    
}
/* End of header */
.results{
background: url(./images/background_2.png);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
}
.results .section-header h3,
.results .section-header p
{
    color: var(--text-color);
}
.results .grid-row{
    grid-template-columns: repeat(4,1fr);
}
.results .grid-row .col{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
.results .pentagon{
height: 18rem;
width: 18rem;
background-color: var(--primary-color);
clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
gap: 1.5rem;
}
.results .pentagon h4{
    color: var(--text-color);
    font-weight: 700;
    font-size: var(--fs-lg);
}
.results .pentagon p{
    color: var(--text-color);
    font-size: var(--fs-x-sm);
}
@media only screen and (max-width:48rem) {
    .logo-humberg-container{
        gap: 5rem;
    }
    .humberg{
        display: flex;
    }
    .navbar{
       flex-direction: column;
    }
    .navbar__list{
        flex-direction: column;
        margin-top: 2rem;
        height: 0;
        overflow: hidden;
        transition: all .3s linear;
    }
    .navbar__list.open_nav{
        height: auto;
    }
    .grid-row,
    .results .grid-row{
        grid-template-columns: 1fr;
        align-items: center;
        justify-content: center;
    }
   

}